# APP
NEXT_PUBLIC_APP_URL='http://localhost:3000'

LOG_LEVEL='info'

# REDIS
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""


# DATABASE
DATABASE_URL='mongodb://127.0.0.1:27017/discord-clone'


# UPLOADTHING
UPLOADTHING_TOKEN='='

# JWT
JWT_ACCESS_SECRET=''

JWT_REFRESH_SECRET=''


# NEXT AUTH
NEXTAUTH_URL='http://localhost:3000'

NEXTAUTH_SECRET=""


# GOOGLE
GOOGLE_CLIENT_ID=''

GOOGLE_CLIENT_SECRET=''

# GITHUB
GITHUB_ID=''

GITHUB_SECRET=''


# RESEND
EMAIL_FROM=''

RESEND_API_KEY=''